extends base.pug 
block scripts
  script(src='/static/index.js')
block style 
  style  
     include ../static/style.css
     include ../static/contactstyle.css 
block content 
      h1 About Us
      h2 This is a dancing academy established by an experts in dancing 
      h3 Here u can learn  the best dance in the best innovative ways 