extends base.pug 
block scripts
  script(src='/static/index.js')
block style 
  style  
     include ../static/style.css
     include ../static/contactstyle.css 
block content 
       h1 Our Services
       h2 we will teach our level best to make u a great dancer...Our services are available always for you...
       h3 If u want to know our services further please contact us...
       p thank you for your enthusiasim 